.navbar {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.navbar:after {
  content: "";
  display: table;
  clear: both;
}

.navbar li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: var(--gray-light);
  color: var(--color-principal);
  font-size: 20px;
  font-weight: var(--font-weigth-bold);
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}

.navbar li a:hover {
  background: var(--color-principal);
  color: var(--color-secondary);
  font-weight: var(--font-weigth-bold);
}

.navbar a.active {
  background: var(--color-principal-dark);
  color: var(--color-secondary);
}