/* Variables */
/*
$white: #ffffff;


$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
*/


:root {
  --body-bg: #c1bdba;
  --color-principal: #1ab188;
  --color-principal-1: rgba(26, 177, 136, 0.5);
  --color-principal-focus: rgba(26, 177, 136, 0.8);
  --color-principal-dark: rgb(36 51 60);
  --color-principal-dark-focus: rgba(36, 51, 60, .8);
  --color-secondary:#ffffff;
  --typography-principal: 'Titillium Web',
    sans-serif;
    --form-bg:rgba(255, 255, 255, .9);
    --border-radius: 10px;

  --gray-light: rgba(160, 179, 176);
  --gray-light-1: rgba(160, 179, 176, .25);

  --font-weight-thin: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 600;


  --font-size-xs:8px;
  --font-size-s:10px;
  --font-size-m:16px;
  --font-size-l:22px;
  --font-size-xl:30px;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  /** 16px * 0.625 = 10px */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--typography-principal);
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--body-bg);
  box-sizing: border-box;

  line-height: 1.4;
  /* Optional */
  hyphens: auto;
  /* Optional */
  font-smooth: always;
  /* Optional */
  -webkit-font-smoothing: antialiased;
  /* Optional */
  -moz-osx-font-smoothing: grayscale;
  /* Optional */
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  /* optional*/
  object-position: center center;
  /* optional*/
}

a {
  display: block;
  text-decoration: none;
  color: var(--color-principal);
  transition: .5s ease;
}

a:hover {
  color: var(--color-principal-dark);
}

p a {
  display: inline;
}

p {
  text-align: justify;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  align-self: inherit;
}

hr {
  background-color: var(--color-primary);
  width: 100%;
  height: 0.3rem;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}


table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

main,
section,
aside,
article {
  align-self: inherit;
}

h1 {
  font-size: var(--font-size-xl);
  text-align: center;
  color: var(--color-principal);
  font-weight:var(--font-weight-bold);
  margin: 0 0 40px;
}

span.error{
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
  color:var(--color-principal-dark);
}

span.loading{
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
  color: var(--color-principal);
}